/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--text-color);
  font-family: var(--main-font-family, "Inter", sans-serif);
  font-variation-settings: "wght" var(--font-normal-weight);
}

.header {
  display: grid;
  max-width: 43.75rem;
  width: 100%;
  justify-content: center;
  justify-items: center;
  font-family: "PressStart2P", fantasy;
  background: var(--page-background-color);
  border: 2px solid var(--border-color);
  margin-block-start: 104px;
  margin-block-end: 100px;
  text-transform: uppercase;
}

.header_title {
  font-size: clamp(49px, 43px + 1.529vw, 65px);
  padding-top: 120px;
}

.header_subtitle {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 25px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: 0;
  animation: arrow 0.5s infinite ease-in-out reverse;
  inset-inline-start: -20px;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  top: 100%;
  margin-top: 1px;
  background-color: var(--border-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

.main {
  display: grid;
}

.card_list {
  display: grid;
  gap: 52px;
}

.card {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  background-color: var(--page-background-color);
  border: 2px solid var(--border-color);
}

.card_title {
  font-size: 18px;
  font-variation-settings: "wght" var(--font-title-weight);
  padding: 4px 10px;
  border-block-end: 2px solid var(--border-color);
}

.card_image_wrapper {
  position: relative;
  overflow: hidden;
}

.card_image_label {
  position: absolute;
  top: 23px;
  right: 11px;
  z-index: 1;
  opacity: 0.5;
  color: var(--text-color);
  mix-blend-mode: hard-light;
  font-family: "PressStart2P", fantasy;
  font-size: 14px;
  line-height: normal;
  text-shadow: -1px 0px var(--page-background-color),
    0px 1px var(--page-background-color), 1px 0px var(--page-background-color),
    0px -1px var(--page-background-color);
}

@supports (
  (text-stroke: 1px var(--page-background-color)) or
    (-webkit-text-stroke: 1px var(--page-background-color))
) {
  .card__image_label {
    text-shadow: none;
    text-stroke: 1px var(--page-background-color);
    -webkit-text-stroke: 1px var(--page-background-color);
  }
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-block-start: 2px solid var(--border-color);
  font-variation-settings: "wght" var(--font-normal-weight);
  font-size: 18px;
  line-height: 21px;
  padding: 25px 25px 0 25px;
}

.image {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 371px;
  height: 371px;
}

/* секция фильтров для картинок */

.filter_grayscale {
  filter: grayscale(100%);
}

.filter_sepia {
  filter: sepia(60%);
}

.filter_invert {
  filter: invert(0.7);
}

.filter_hue {
  filter: hue-rotate(90deg);
}

.filter_brightness {
  filter: brightness(150%);
}

.filter_blur {
  filter: blur(0.1rem);
}

.filter_multiple {
  filter: brightness(120%) hue-rotate(180deg) contrast(20%);
}
/* конец секции */

.card_buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 25px 25px 26px 0;
  gap: 8px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background-color: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
  padding: 0;
}

.card__icon-button:focus {
  border: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-color);
}

/* секция кнопки like */

.card__like-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  inline-size: 130px;
  color: var(--text-color);
}

.button {
  position: relative;
  border: 2px solid var(--border-color);
  background: var(--page-background-color);
  color: var(--text-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--border-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--border-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 2;
  display: block;
  color: var(--button-text-color);
  font-family: "PressStart2P", fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

/* конец секции */

.button_save_icon {
  position: relative;
  z-index: 2;
  block-size: 28px;
  inline-size: 28px;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.button_save_text {
  margin-top: 4px;
}

.button_save {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px 21px;
  gap: 8px;
  width: 100%;
  padding: 15px 0;
  cursor: pointer; 
  inline-size: 306px;
}

.button_save_div {
  margin: 50px auto 0;
}

/* секция dialog */

.dialog {
  position: fixed;
  padding: 32px 42px;
  border: 2px solid var(--border-color);
  background-color: var(--page-background-color);
  font-family: "PressStart2P", fantasy;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  max-inline-size: 343px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

.dialog_content {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: 1fr fit-content;
  row-gap: 30px;
}

.dialog_text {
  display: flex;
  padding-left: 20px;
}

.dialog_icon {
  align-self: center;
  justify-self: start;
  inline-size: 39px;
  block-size: 39px;
}

.dialog_button {
  display: grid;
  grid-area: 2 / 1 / 3 / 3;
  width: 100%;
  height: 38px;
  padding: 9px 17px;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.dialog_button_text {
  display: flex;
  align-self: center;
  justify-self: center;
  padding: 9px 17px;
  text-transform: uppercase;
}

/* конец секции */

@media (width > 376px) {
  .header {
    margin-inline: auto;
    margin-block-start: 100px;
  }

  .header_title {
    padding-block-start: 8.5rem;
  }

  .header_subtitle {
    font-size: 23px;
    padding-bottom: 20px;
  }

  .theme-menu__list {
    gap: 12px;
  }

  .main {
    max-width: 43.5rem;
    margin-inline: auto;
  }

  .image {
    width: 696px;
    height: 696px;
  }

  .card_list {
    gap: 52px;
  }

  .card_image_label {
    top: 25px;
    right: 27px;
  }
  .button_save {
    flex-direction: row;
    inline-size: 339px;
  }

  .button_save_icon {
    block-size: 21px;
    inline-size: 21px;
    margin-left: 17px;
  }
}
